@using Microsoft.Web.Helpers;
@{
    Page.Title = "Edit info.";
    Layout = "~/_Layout.cshtml";

    var fileSavePath = "";
    var fileName = ".jpg";
    bool allowed = false;

    // rId holds the Id of the user we want to edit.
    var rId = -1;
    if(!Request.QueryString["student_nr"].IsEmpty())
    {
        // Set rId to the parameter in the url
        rId = Convert.ToInt32(Request.QueryString["student_nr"]);
    }
 
    // Check for docent login and admin rights
    // rId can't be -1 because a Docent can't edit himself
    if (Session["Docentid"] != null && Session["Admin"] != null && rId != -1)
    {
        if(Convert.ToInt32(Session["Admin"]) == 1)
        {
            allowed = true;
        }
        else
        {
            Response.Redirect("/Home");
        }
    }

    // Check for student login and rights
    // A user can only edit himself so the rId must be -1 or the rId must be equal to the id of the logged in user
    if (Session["id"] != null && rId == -1)
    {
        rId = Convert.ToInt32(Session["id"]);
        allowed = true;
    }

    // If not allowed redirect back to login
    if (!allowed) 
    {
        Response.Redirect("/Login");
    }
    var db = Database.Open("studentenoverzicht");
    if(!IsPost) // als er geen post is dan haalt hij alle gegevens op van de gekozen student.
    {
        var selectCommand = "SELECT * FROM Student WHERE student_nr = @0";
        var row = db.QuerySingle(selectCommand, rId);
           
        if(row != null) // alles wat hij ophaalt word in een sessie variabele gestopt zodat je het behoud als je pagina refreshed
        {
            Session["email_prive"] = row.email_prive;
            Session["adres"] = row.adres;
            Session["plaats"] = row.plaats;
            Session["mobiel"] = row.mobiel;
            Session["tel_nr"] = Convert.ToString(row.tel_nr);
            Session["naam"] = row.voornaam +" "+ row.tussenvoegsel +" "+row.achternaam;
            Session["email_school"] = row.email_school;
            Session["vooropleiding"] = row.vooropleiding;
            Session["foto"] = row.foto;
        }
    }
    if(IsPost) // als er op submit word gedrukt dan zet hij de nieuwe gegevens in de database en session.
    {
        if (Request.Form["buttonSubmit"] == "Submit Changes")
        {
            Validation.RequireField("email_prive", "Er moet een e-mailadres ingevuld zijn.");
            Validation.RequireField("adres", "Er moet een adres ingevuld zijn.");
            Validation.RequireField("plaats", "Er moet een plaats ingevuld zijn.");
            Validation.RequireField("mobiel", "Er moet een mobiel nummer ingevuld zijn.");
            Validation.RequireField("tel_nr", "Er moet een telefoonnummer ingevuld zijn.");
 
            Session["email_prive"] = Request.Form["email_prive"];
            Session["plaats"] = Request.Form["plaats"];
            Session["adres"] = Request.Form["adres"];
            Session["tel_nr"] = Convert.ToString(Request.Form["tel_nr"]);
            Session["mobiel"] = Request.Form["mobiel"];
 
            if(Validation.IsValid())
            {
                var updateCommand = "UPDATE student SET email_prive=@0, plaats=@1, adres=@2, tel_nr=@3, mobiel=@4,  WHERE student_nr=@5";
                db.Execute(updateCommand, Session["email_prive"], Session["plaats"], Session["adres"], Session["tel_nr"], Session["mobiel"], rId);
                Response.Redirect("~/Edit");
            }
        }
        else // als er is gepost zoder op die submit te drukken dan upload hij de foto
        {
            var uploadedFile = Request.Files[0];
            fileName = Convert.ToString(rId) + fileName;
            fileSavePath = Server.MapPath(fileName);
            var updateCommand = "UPDATE student SET foto = @0 WHERE student_nr = @1";
            db.Execute(updateCommand, fileName, rId);
            Session["foto"] = fileName;
            uploadedFile.SaveAs(fileSavePath);
        }
        db.Close;
    }
}
<div class="col-md-6">
    <div class="editfoto">
        <img src="@Session["foto"]" alt="student">
    </div>
</div>
<div class="col-md-6">
<h2>Edit info.</h2>
    @Html.ValidationSummary()
    <form method="post">
    <fieldset>
        <legend>Studentinformatie</legend>
       
        <p><label for="naam">Naam: @Session["naam"]</label></p>
        <p><label for="vooropleiding">Vooropleiding: @Session["vooropleiding"]</label></p>
        <p><label for="email_prive">Privé-e-mail:</label>
            <input type="text" name="email_prive" value="@Session["email_prive"]" /></p>
        <p><label for="plaats">Plaats:</label>
            <input type="text" name="plaats" value="@Session["plaats"]" /></p>
        <p><label for="adres">Adres:</label>
            <input type="text" name="adres" value="@Session["adres"]" /></p>
        <p><label for="tel_nr">Telefoonnummer:</label>
            <input type="text" name="tel_nr" value="@Session["tel_nr"]" /></p>
        <p><label for="mobiel">Mobiel nummer:</label>
            <input type="text" name="mobiel" value="@Session["mobiel"]" /></p>            
        <p><input type="submit" name="buttonSubmit" value="Submit Changes" /></p>
    </fieldset>
    </form>
    <div class="fotouploader">
        <label for="Foto">Nieuwe foto kiezen:</label>
        @FileUpload.GetHtml(
        initialNumberOfFiles:1,
        allowMoreFilesToBeAdded:false,
        includeFormTag:true,
        uploadText:"Upload")
        <br />
        @if(Session["id"] != null)
        {
            <a href="~/Login?logout=1"><input type="submit" value="Uitloggen" /></a>
        }
        @if(Session["Docentid"] != null)
        {
            <a href="~/Home"><input type="submit" value="Terug naar overzicht" /></a>
        }
    </div>
</div>
