@{
    Layout = "~/_Layout.cshtml";
    Page.Title = " Student Login";

    var db = Database.Open("studentenoverzicht");
    var selectCommand = "SELECT * FROM Student";

    var studentnummer = "";
    var straatnaam = "";
    var straatnaam2 = "";

    if(!Request.QueryString["logout"].IsEmpty())
    {
        Session.RemoveAll();
    }

    var returnUrl = Request.QueryString["ReturnUrl"];
    if (returnUrl.IsEmpty()) 
    {
        returnUrl = Href("~/Edit");
    }

    Validation.RequireField("studentnummer", "Er moet een studentnummer ingevuld zijn.");
    Validation.RequireField("straatnaam", "Er moet een straatnaam ingevuld zijn.");
    
    if (IsPost) 
    {
        if (Validation.IsValid()) 
        {
            studentnummer = Request.Form["studentnummer"];
            straatnaam = Request.Form["straatnaam"];
            straatnaam2 = "SELECT adres FROM student WHERE student_nr = @0";
            straatnaam2 = db.QueryValue(straatnaam2, studentnummer);

            if (straatnaam==straatnaam2)
            {
                Session["id"] = studentnummer;
                Context.RedirectLocal(returnUrl);
                return;
            } 
            else 
            {
                ModelState.AddFormError("De ingevulde gegevens komen niet overeen.");
            }
        }
    }   
}
<div class="container">
    <div class="col-md-3"></div>
        <div class="col-md-6">
            <h1>@Page.Title.</h1>
            <section id="loginForm">
                <form method="post">
                    @AntiForgery.GetHtml()
                    @Html.ValidationSummary("Het inloggen is niet gelukt, verbeter de fouten en probeer het opnieuw.")
                    <fieldset>
                        <legend>Log in met je account</legend>
                        <ol>
                            <li class="email">
                                <label for="email" @if (!ModelState.IsValidField("studentnummer"))
                                {<text>class="error-label"</text>}>Studentnummer:</label>
                                <input type="text" id="studentnummer" name="studentnummer" value="@studentnummer" @Validation.For("studentnummer")/>
                                @Html.ValidationMessage("studentnummer")
                            </li>
                            <li class="straatnaam">
                                <label for="straatnaam" @if (!ModelState.IsValidField("straatnaam")) {<text>class="error-label"</text>}>Straatnaam:</label>
                                <input type="text" id="straatnaam" name="straatnaam" @Validation.For("straatnaam")/>
                                @Html.ValidationMessage("straatnaam")
                            </li>
                        </ol>
                        <input type="submit" value="Login" />
                    </fieldset>
                </form>
            </section>
            <a href="~/DLogin"><input type="submit" value="Inloggen als docent" /></a>
        </div>
    <div class="col-md-3"></div>
</div>