@{
    Layout = "~/_Layout.cshtml";
    Page.Title = " Student Log in";

    var db = Database.Open("studentenoverzicht");
    var selectCommand = "SELECT * FROM Student";

    var studentnummer = "";
    var straatnaam = "";
    var straatnaam2 = "";

    var returnUrl = Request.QueryString["ReturnUrl"];
    if (returnUrl.IsEmpty()) 
    {
        returnUrl = Href("~/Edit");
    }

    Validation.RequireField("studentnummer", "You must specify an studentnummer.");
    Validation.RequireField("straatnaam", "You must specify a straatnaam.");
    
    if (IsPost) 
    {
        if (Validation.IsValid()) 
        {
            studentnummer = Request.Form["studentnummer"];
            straatnaam = Request.Form["straatnaam"];
            straatnaam2 = "SELECT adres FROM student WHERE student_nr =" +studentnummer;
            straatnaam2 = db.QueryValue(straatnaam2);
        


            if (straatnaam==straatnaam2)
            {
                Session["id"] = studentnummer;
                Context.RedirectLocal(returnUrl);
                return;
            } 
            else 
            {
                ModelState.AddFormError("The user name or password provided is incorrect.");
            }

            }
    }   
}
<div class="container">
   <div class="col-md-3"></div>
    <div class="col-md-6">
    <h1>@Page.Title.</h1>


<section id="loginForm">
    <h2>Use your account to log in.</h2>
    <form method="post">
        @AntiForgery.GetHtml()
        @Html.ValidationSummary("Log in was unsuccessful. Please correct the errors and try again.")

        <fieldset>
            <legend>Log in to Your Account</legend>
            <ol>
                <li class="email">
                    <label for="email" @if (!ModelState.IsValidField("studentnummer"))
                                       {<text>class="error-label"</text>}>Studentnummer:</label>
                    <input type="text" id="studentnummer" name="studentnummer" value="@studentnummer" @Validation.For("studentnummer")/>
                    @Html.ValidationMessage("studentnummer")
                </li>
                <li class="straatnaam">
                    <label for="straatnaam" @if (!ModelState.IsValidField("straatnaam")) {<text>class="error-label"</text>}>Password:</label>
                    <input type="text" id="straatnaam" name="straatnaam" @Validation.For("straatnaam")/>
                    @Html.ValidationMessage("straatnaam")
                </li>
            </ol>
            <input type="submit" value="Log in" />
        </fieldset>
    </form>
</section>
        </div>
    <div class="col-md-3"></div>
</div>