@{
    Page.Title = "Admin";
    Layout= "~/_Layout.cshtml";

    var db = Database.Open("studentenoverzicht");
    var selectCommand = "SELECT * FROM Docent";

    var category= "";
    var category2= "";
    var searchTerm = "";
    bool mopshond = false;
    
    if(!Request.QueryString["search"].IsEmpty() ) {
        searchTerm = "%" + Request.QueryString["search"] + "%";
        category = Request.QueryString ["category"];
        selectCommand = "SELECT * FROM docent where "+category+" like @0";
    }
    

}



        <div class="container">
            
            <div class="col-md-6">
                <div class="nhlimg">
  <h2><img src="nhl.jpg" alt="student"> <br> 
   NHL Informatica studentenoverzicht</h2>
                </div>
            </div>
 <div class="col-md-6">
     <div class="zoek">
            <form method="get">
      <div>
        <select name="category">
            <option value="voornaam">voornaam</option>
            <option value="achternaam">achternaam</option>
        </select>
        <input type="text" name="search" value="@Request.QueryString["search"]" />
        <input type="Submit" value="Search" /><br/>
      </div>
    </form>
</div>
     </div>

<div class="col-md-12">
         @foreach(var row in db.Query(selectCommand, searchTerm))
   {
var collapse = "collapse"+row.id;    

   <div class="panel-group">
    <div class="panel panel-default">
      <div class="panel-heading">
        
          <a data-toggle="collapse" href=#@collapse>
              <div class="row">
                  <div class="col-md-4">
                    <p>@row.voornaam  @row.tussenvoegsel  @row.achternaam</p>
                    <p>Adminstatus: @row.admin</p>
                    <p>E-mailadres: @row.email_school</p>
                      </div>
                  </div>
              </a>
                      <form method="get">   
                     <div>
        <label for="admin">Verander naar:</label>
        <input type="text" name="admin" value="@Request.QueryString["admin"]" />
        <input type="Submit" value="Admin" /><br/>  
      </div>
    </form>


                  </div>
              </div>    
             
</div>
         
} 
                
 </div>
   
   </div> 
   