@using Microsoft.Web.Helpers;
@{
     Page.Title = "Edit info.";
     Layout = "~/_Layout.cshtml";
    var db = Database.Open("studentenoverzicht");
    var email_prive = "";
    var adres = "";
    var plaats="";
    var student_id = Session["id"];
    var tel_nr="";
    var mobiel="";
    var naam="";
    var email_school="";
    var vooropleiding="";
    var fileSavePath = "";
    var fileName = ".jpg";

    if (IsPost)
    {
        var uploadedFile = Request.Files[0];
        fileName = Convert.ToString(student_id) + fileName;
        fileSavePath = Server.MapPath(fileName);
        uploadedFile.SaveAs(fileSavePath);
        var updateCommand = "UPDATE student SET foto=@0 WHERE student_nr=@1";
        db.Execute(updateCommand, fileName, Convert.ToInt32((student_id)));
    }
   

    if(!IsPost){
        if(!"student_nr".IsEmpty()){
            var selectCommand = "SELECT * FROM Student WHERE student_nr=@0";
            var row = db.QuerySingle(selectCommand, student_id);
            
            if(row != null){
                email_prive = row.email_prive;
                adres = row.adres;
                plaats = row.plaats;
                mobiel= row.mobiel;
                tel_nr= Convert.ToString(row.tel_nr);
                naam= row.voornaam +" "+ row.tussenvoegsel +" "+row.achternaam;
                email_school=row.email_school;
                vooropleiding=row.vooropleiding;

            }
            
        }
        else{
            Validation.AddFormError("No student was selected.");
        }
    }
    if(IsPost){
        Validation.RequireField("email_prive", "You must enter a email adres.");
        Validation.RequireField("adres", "You must enter a adres.");
        Validation.RequireField("plaats", "You must enter a plaats.");
        Validation.RequireField("mobiel", "You must enter a mobiel nummer.");
        Validation.RequireField("tel_nr", "You must enter a tel_nr nummer.");
        Validation.RequireField("student_id" );

        email_prive = Request.Form["email_prive"];
        plaats = Request.Form["plaats"];
        adres = Request.Form["adres"];
        tel_nr = Convert.ToString(Request.Form["tel_nr"]);
        mobiel = Request.Form["mobiel"];
        student_id =Convert.ToString(Request.Form["student_id"]);

        if(Validation.IsValid()){
        var updateCommand = "UPDATE student SET email_prive=@0, plaats=@1, adres=@2, tel_nr=@3, mobiel=@4,  WHERE student_nr=@5";
        db.Execute(updateCommand, email_prive, plaats, adres, tel_nr, mobiel, student_id);
        Response.Redirect("~/edit");
       }
    }
}
<div class="col-md-12">
<h2>Edit info.</h2>
    @Html.ValidationSummary()
  <form method="post">
    <fieldset>
      <legend>Student Information</legend>

        <p><label for="naam">Naam: @naam</label></p>

        <p><label for="vooropleiding">Vooropleiding: @vooropleiding</label></p>
            

      <p><label for="email_prive">Prive email:</label>
         <input type="text" name="email_prive" value="@email_prive" /></p>

      <p><label for="plaats">plaats:</label>
         <input type="text" name="plaats" value="@plaats" /></p>

        <p><label for="adres">Adres:</label>
         <input type="text" name="adres" value="@adres" /></p>

        <p><label for="tel_nr">Telefoon nummer:</label>
         <input type="text" name="tel_nr" value="@tel_nr" /></p>

        <p><label for="mobiel">Mobiel nummer:</label>
         <input type="text" name="mobiel" value="@mobiel" /></p>

      <input type="hidden" name="student_id" value="@student_id" />             

      <p><input type="submit" name="buttonSubmit" value="Submit Changes" /></p>
    </fieldset>
  </form>
    <p><a href="~/Home">Return to Home.</a></p>
</div>
<div class="fotouploader">
    <h1>FileUpload - Single-File Example</h1>
    @FileUpload.GetHtml(
        initialNumberOfFiles:1,
        allowMoreFilesToBeAdded:false,
        includeFormTag:true,
        uploadText:"Upload")
    @if (IsPost) {
        <span>File uploaded!</span><br/>
    }
    </div>