@{
    Page.Title = "Studenten";

    var db = Database.Open("studentenoverzicht") ;
    var selectCommand = "SELECT * FROM Student";

}

<!DOCTYPE html>

<html lang="en">
    <head>
         <meta name="viewport" content="width=device-width, initial-scale=1">
         <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
         <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
         <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
        <link rel="stylesheet" type="text/css" href="~/styles/StyleSheet.css">
        <meta charset="utf-8" />
        <title>studenten</title>
    </head>
    <body>
        <div class="container">
  <h2>NHL Studenten overzicht</h2>
  <p><strong>Note:</strong> The <strong>data-parent</strong> attribute makes sure that all collapsible elements under the specified parent will be closed when one of the collapsible item is shown.</p>
        



<h2>List Movies</h2>
   @foreach(var row in db.Query(selectCommand))
   {
var collapse = "collapse"+row.student_nr;    


   <div class="panel-group">
    <div class="panel panel-default">
      <div class="panel-heading">
        
          <a data-toggle="collapse" href=#@collapse>
              <div class="row">
                  <div class="col-md-4"> 
                      <div class="stimg">
                         <img src="@row.foto" alt="student">
                      </div>
                   </div>
                  <div class="col-md-4">
                    <p>@row.voornaam  @row.tussenvoegsel  @row.achternaam</p>
                    <p>Klas: @row.opleiding @row.fase</p>
                    <p>Mentor: @row.mentor</p>
                  </div>
                  <div class="col-md-4">
                    <p>Email: @row.email_school</p>
                    <p>Mobiel: @row.mobiel</p>
                    <p>huis tel.:@row.tel_land_nr  @row.tel_nr</p>
                  </div>
              </div>
          </a> 
          
         
      </div>
      <div id=@collapse class="panel-collapse collapse out">
        <div class="panel-body">

                  <div class="col-md-4"> 
                      <div class="stimg">
                        <p>Geboorte datum: @row.geb_datum</p>
                        <p>Geslacht: @row.geslacht</p>
                        <p>Vooropleiding: @row.vooropleiding</p>
                      </div>
                   </div>
                  <div class="col-md-4">
                    <p>@row.adres</p>
                    <p>@row.plaats</p>
                    <p>@row.land</p>
                  </div>
                  <div class="col-md-4">
                    <p>aanmeld datum: @row.aanmeld_datum</p>
                    <p>van: @row.datum_van  @row.tel_nr</p>
                    <p>tot: @row.datum_tot @row.fase</p>
                  </div>
        </div>
      </div>
    </div>
  </div>
}      
   </div> 
    </body>
</html>
